/exment
/laravel-admin
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

# keep vendored docker-exment env files (docker defaults, not secrets)
!/docker-exment/.env
!/docker-exment/docker/php/.env
